.invoice.printableArea.print-kitchen-recipt style=("margin-right: 0px !important; margin-left: 0px !important;")
  .row
    .col-12
      h2.page-header
        | ORDER # #{order.name}
        small.pull-right Delivery Date: #{order_item.formated_delivrey_date}
  /! /.col
  .row.invoice-info
    .col-6
      address
        strong.text-orange #{order_item.name}
        br
        | Time to Leave: #{order_item.delivery_time}
        br
        | QTY: #{order_item.quantity}
    .col-6.text-right
      | To
      address
        strong.text-orange #{order.customer_name}
        br
        | Email: #{order.contact_email}
  .row
    .col-sm-12
      p.lead
        b Notes:
        p.text-muted.well.well-sm.no-shadow style=("margin-top: 10px;")
          = order.note
  hr
  .row
    .col-12.table-responsive
      table.table.table-striped
        thead
          tr
            th #
            th Item
            th Quantity
        tbody
          - i = 0
          - if order_item.ingredients.empty?
            tr
              td= i = i +1
              td= order_item.name
              td= order_item.quantity
          - else
            - order_item.ingredients.each do |ingredient|
              tr
                td= i = i +1
                td= ingredient.name
                td #{(ingredient.quantity * ingredient.order_item.quantity).round(1) } #{ingredient.unit}
  .row
    .col-12.col-sm-12
      p.text-red.pull-right style=("margin-top: 10px; font-style: italic; font-size: 11px;")
        | All Items need to be checked after they are packed before leaving for devlivery.
    / .col-12.col-sm-6.text-right
      .total-payment
        h3
          b Total Price:
          = number_to_currency order.total_price_usd
.clearfix
