.row
  .col-12
    .box.box-default
      .box-header.with-border
        h3.box-title Filters
        .box-tools.pull-right
          button.btn.btn-box-tool data-widget="collapse" type="button"
            i.fa.fa-minus
          button.btn.btn-box-tool data-widget="remove" type="button"
            i.fa.fa-remove
      /! /.box-header
      .box-body
        .row
          .col-12
            = form_for(:search, url: order_items_path, method: :get) do |f|
              .row
                .col-6
                  .form-group
                    label Delivery Date:
                    .input-group
                      .input-group-addon
                        i.fa.fa-calendar
                      = f.text_field :delivery_date,  class: 'form-control', value: @search_delivery_date
                .col-6
                  .form-group
                    label Created At:
                    .input-group
                      .input-group-addon
                        i.fa.fa-calendar
                      = f.text_field :created_at,  class: 'form-control', value: @search_created_date
              hr
              .col-12
                = f.submit "Search", class: 'btn btn-success pull-right'
