.printableArea.print-sticker-recipt.invoice1
  .row
    .col-12
      .row
        .col-6
          .box.box-widget.widget-user-4
            .widget-user-header
              .overlay
                h3.widget-user-username.font-size-16= order.customer_name
                h6.widget-user-desc.font-size-14= order.company_name
            .box-footer
              .row
                .col-4.border-right
                  .description-block
                    h5.description-header.font-size-10 Order#
                    span.description-text.font-size-10= order.name
                .col-4.border-right
                  .description-block
                    span.description-text.font-size-10= order_item.name
                .col-4
                  .description-block
                    h5.description-header.font-size-10 Quantity
                    span.description-text.font-size-10= order_item.quantity
        - order_item.ingredients.each do |ingredient|
          .col-6
            .box.box-widget.widget-user-4
              .widget-user-header
                .overlay
                  h3.widget-user-username.font-size-16= order.customer_name
                  h6.widget-user-desc.font-size-14= order.company_name
              .box-footer
                .row
                  .col-4.border-right
                    .description-block
                      h5.description-header.font-size-10 Order#
                      span.description-text.font-size-10= order.name
                  .col-4.border-right
                    .description-block
                      span.description-text.font-size-10= ingredient.name
                  .col-4
                    .description-block
                      h5.description-header.font-size-10 Quantity
                      span.description-text.font-size-10= order_item.quantity