/*------------------------------------------------------------------
 *[All Skin Stylesheet]
 *-------------------------------------------------------------------
/*------------------------------------------------------------------
 *[Table of contents]
 *
 *1. Skin: Blue
 *2. Skin: Black
 *3. Skin: Green
 *4. Skin: Red
 *5. Skin: orange
 *6. Skin: Yellow
 *-------------------------------------------------------------------

/*---Skin: Blue---

.skin-blue
  .main-header .navbar
    background-color: #45aef1
    .nav
      > li > a
        color: #ffffff
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #f6f6f6
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #f6f6f6
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #fff
    .logo
      background-color: #0092ee
      color: #ffffff
      border-bottom: 0 solid transparent
      &:hover
        background-color: #45aef1
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #242a33
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #ffffff
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #ffffff
    &.active > a
      border-left-color: #45aef1
    > .treeview-menu
      margin: 0 0px
      background: #242a33
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #fff
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #0092ee
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #45aef1
  .btn-blue
    background-color: #45aef1
    color: #fff
    border: 1px solid #45aef1
    &:hover
      background-color: #fff
      color: #45aef1

@media (max-width: 767px)
  .skin-blue .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #0092ee

.horizontal-menu .skin-blue.layout-top-nav .sidebar-menu > li.active > a
  background: #45aef1
  color: #fff

.skin-blue .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #45aef1

/*---Skin: Blue light---
/*---light sidebar---

.skin-blue-light
  .main-header .navbar
    background-color: #45aef1
    .nav
      > li > a
        color: #ffffff
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #f6f6f6
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #f6f6f6
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #fff
    .logo
      background-color: #0092ee
      color: #ffffff
      border-bottom: 0 solid transparent
      &:hover
        background-color: #45aef1
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #ffffff
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #45aef1
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #45aef1
    &.active > a
      border-left-color: #45aef1
    > .treeview-menu
      margin: 0 0px
      background: #f1f5f7
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #45aef1
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #0092ee
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #45aef1
  .btn-blue
    background-color: #45aef1
    color: #fff
    border: 1px solid #45aef1
    &:hover
      background-color: #fff
      color: #45aef1

@media (max-width: 767px)
  .skin-blue-light .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #0092ee

.horizontal-menu .skin-blue-light.layout-top-nav .sidebar-menu > li.active > a
  background: #45aef1
  color: #fff

.skin-blue-light .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #45aef1

/*---Skin: Black---

.skin-black
  .main-header .navbar
    background-color: #ffffff
    .nav
      > li > a
        color: #313131
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #666666
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #666666
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #666666
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #666666
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #666666
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #666666
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #313131
    .logo
      background-color: #ffffff
      color: #313131
      border-bottom: 0 solid transparent
      &:hover
        background-color: #232323
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #242a33
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #ffffff
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #ffffff
    &.active > a
      border-left-color: #232323
    > .treeview-menu
      margin: 0 0px
      background: #242a33
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #fff
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #313131
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #232323
  .btn-blue
    background-color: #232323
    color: #fff
    border: 1px solid #232323
    &:hover
      background-color: #fff
      color: #232323

@media (max-width: 767px)
  .skin-black .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #313131

.horizontal-menu .skin-black.layout-top-nav .sidebar-menu > li.active > a
  background: #232323
  color: #fff

.skin-black .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #ffffff

/*---Skin: Black light---
/*---light sidebar---

.skin-black-light
  .main-header .navbar
    background-color: #ffffff
    .nav
      > li > a
        color: #313131
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #666666
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #666666
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #666666
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #666666
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #666666
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #666666
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #313131
    .logo
      background-color: #ffffff
      color: #313131
      border-bottom: 0 solid transparent
      &:hover
        background-color: #232323
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #ffffff
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #232323
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #232323
    &.active > a
      border-left-color: #232323
    > .treeview-menu
      margin: 0 0px
      background: #f2f6f8
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #232323
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #313131
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #232323
  .btn-blue
    background-color: #232323
    color: #fff
    border: 1px solid #232323
    &:hover
      background-color: #fff
      color: #232323

@media (max-width: 767px)
  .skin-black-light .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #313131

.horizontal-menu .skin-black-light.layout-top-nav .sidebar-menu > li.active > a
  background: #232323
  color: #fff

.skin-black-light .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #ffffff

/*---Skin: Green---

.skin-green
  .main-header .navbar
    background-color: #22af47
    .nav
      > li > a
        color: #ffffff
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #f6f6f6
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #f6f6f6
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #fff
    .logo
      background-color: #1a943b
      color: #ffffff
      border-bottom: 0 solid transparent
      &:hover
        background-color: #22af47
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #242a33
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #ffffff
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #ffffff
    &.active > a
      border-left-color: #22af47
    > .treeview-menu
      margin: 0 0px
      background: #242a33
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #fff
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #1a943b
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #22af47
  .btn-blue
    background-color: #22af47
    color: #fff
    border: 1px solid #22af47
    &:hover
      background-color: #fff
      color: #22af47

@media (max-width: 767px)
  .skin-green .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #1a943b

.horizontal-menu .skin-green.layout-top-nav .sidebar-menu > li.active > a
  background: #22af47
  color: #fff

.skin-green .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #22af47

/*---Skin: Green light---
/*---light sidebar---

.skin-green-light
  .main-header .navbar
    background-color: #22af47
    .nav
      > li > a
        color: #ffffff
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #f6f6f6
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #f6f6f6
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #fff
    .logo
      background-color: #1a943b
      color: #ffffff
      border-bottom: 0 solid transparent
      &:hover
        background-color: #22af47
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #ffffff
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #22af47
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #22af47
    &.active > a
      border-left-color: #22af47
    > .treeview-menu
      margin: 0 0px
      background: #f2f6f8
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #22af47
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #1a943b
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #22af47
  .btn-blue
    background-color: #22af47
    color: #fff
    border: 1px solid #22af47
    &:hover
      background-color: #fff
      color: #22af47

@media (max-width: 767px)
  .skin-green-light .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #1a943b

.horizontal-menu .skin-green-light.layout-top-nav .sidebar-menu > li.active > a
  background: #22af47
  color: #fff

.skin-green-light .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #22af47

/*---Skin: Red---

.skin-red
  .main-header .navbar
    background-color: #f83f37
    .nav
      > li > a
        color: #ffffff
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #f6f6f6
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #f6f6f6
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #fff
    .logo
      background-color: #dc2d27
      color: #ffffff
      border-bottom: 0 solid transparent
      &:hover
        background-color: #f83f37
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #242a33
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #ffffff
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #ffffff
    &.active > a
      border-left-color: #f83f37
    > .treeview-menu
      margin: 0 0px
      background: #242a33
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #fff
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #dc2d27
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #f83f37
  .btn-blue
    background-color: #f83f37
    color: #fff
    border: 1px solid #f83f37
    &:hover
      background-color: #fff
      color: #f83f37

@media (max-width: 767px)
  .skin-red .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #dc2d27

.horizontal-menu .skin-red.layout-top-nav .sidebar-menu > li.active > a
  background: #f83f37
  color: #fff

.skin-red .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #f83f37
    background-color: #22af47

/*---Skin: Red light---
/*---light sidebar---

.skin-red-light
  .main-header .navbar
    background-color: #f83f37
    .nav
      > li > a
        color: #ffffff
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #f6f6f6
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #f6f6f6
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #fff
    .logo
      background-color: #dc2d27
      color: #ffffff
      border-bottom: 0 solid transparent
      &:hover
        background-color: #f83f37
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #ffffff
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #f83f37
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #f83f37
    &.active > a
      border-left-color: #f83f37
    > .treeview-menu
      margin: 0 0px
      background: #f0f4f6
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #f83f37
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #dc2d27
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #f83f37
  .btn-blue
    background-color: #f83f37
    color: #fff
    border: 1px solid #f83f37
    &:hover
      background-color: #fff
      color: #f83f37

@media (max-width: 767px)
  .skin-red-light .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #dc2d27

.horizontal-menu .skin-red-light.layout-top-nav .sidebar-menu > li.active > a
  background: #f83f37
  color: #fff

.skin-red-light .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #f83f37
    background-color: #22af47

/*---Skin: orange---

.skin-orange
  .main-header .navbar
    background-color: #ff6028
    .nav
      > li > a
        color: #ffffff
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #f6f6f6
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #f6f6f6
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #fff
    .logo
      background-color: #de4f1e
      color: #ffffff
      border-bottom: 0 solid transparent
      &:hover
        background-color: #ff6028
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #242a33
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #ffffff
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #ffffff
    &.active > a
      border-left-color: #ff6028
    > .treeview-menu
      margin: 0 0px
      background: #242a33
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #fff
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #de4f1e
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #ff6028
  .btn-blue
    background-color: #ff6028
    color: #fff
    border: 1px solid #ff6028
    &:hover
      background-color: #fff
      color: #ff6028

@media (max-width: 767px)
  .skin-orange .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #de4f1e

.horizontal-menu .skin-orange.layout-top-nav .sidebar-menu > li.active > a
  background: #ff6028
  color: #fff

.skin-orange .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #ffffff

/*---Skin: orange light---
/*---light sidebar---

.skin-orange-light
  .main-header .navbar
    background-color: #ff6028
    .nav
      > li > a
        color: #ffffff
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #f6f6f6
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #f6f6f6
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #fff
    .logo
      background-color: #de4f1e
      color: #ffffff
      border-bottom: 0 solid transparent
      &:hover
        background-color: #ff6028
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #ffffff
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #ff6028
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #ff6028
    &.active > a
      border-left-color: #ff6028
    > .treeview-menu
      margin: 0 0px
      background: #f2f6f8
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #ff6028
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #de4f1e
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #ff6028
  .btn-blue
    background-color: #ff6028
    color: #fff
    border: 1px solid #ff6028
    &:hover
      background-color: #fff
      color: #ff6028

@media (max-width: 767px)
  .skin-orange-light .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #de4f1e

.horizontal-menu .skin-orange-light.layout-top-nav .sidebar-menu > li.active > a
  background: #ff6028
  color: #fff

.skin-orange-light .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #ffffff

/*---Skin: Yellow---

.skin-yellow
  .main-header .navbar
    background-color: #ffbf36
    .nav
      > li > a
        color: #ffffff
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #f6f6f6
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #f6f6f6
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #fff
    .logo
      background-color: #e4a827
      color: #ffffff
      border-bottom: 0 solid transparent
      &:hover
        background-color: #ffbf36
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #242a33
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #ffffff
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #ffffff
    &.active > a
      border-left-color: #ffbf36
    > .treeview-menu
      margin: 0 0px
      background: #242a33
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #fff
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #e4a827
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #ffbf36
  .btn-blue
    background-color: #ffbf36
    color: #fff
    border: 1px solid #ffbf36
    &:hover
      background-color: #fff
      color: #ffbf36

@media (max-width: 767px)
  .skin-yellow .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #e4a827

.horizontal-menu .skin-yellow.layout-top-nav .sidebar-menu > li.active > a
  background: #ffbf36
  color: #fff

.skin-yellow .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #ffbf36

/*---Skin: Yellow light---
/*---light sidebar---

.skin-yellow-light
  .main-header .navbar
    background-color: #ffbf36
    .nav
      > li > a
        color: #ffffff
        &:hover, &:active, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      .open > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
        &:hover, &:focus
          background: rgba(0, 0, 0, 0.1)
          color: #f6f6f6
      > .active > a
        background: rgba(0, 0, 0, 0.1)
        color: #f6f6f6
  &.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover
    background: rgba(0, 0, 0, 0.1)
    color: #f6f6f6
  .main-header
    .navbar .sidebar-toggle
      color: #ffffff
      &:hover
        color: #f6f6f6
        background: rgba(0, 0, 0, 0.1)
        background-color: transparent
      color: #fff
    .logo
      background-color: #e4a827
      color: #ffffff
      border-bottom: 0 solid transparent
      &:hover
        background-color: #ffbf36
    li.user-header
      background-color: #fff
  .content-header, .content
    background: #f2f6f8
  .wrapper, .main-sidebar, .left-side
    background-color: #ffffff
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)
  .user-panel > .info
    color: #fff
    > a
      color: #fff
  .sidebar-menu > li
    &.header
      color: #333
      background: #fff
    > a
      border-left: none
    &:hover > a
      color: #ffbf36
      background: rgba(0, 0, 0, 0.1)
    &.active > a, &.menu-open > a
      color: #ffbf36
    &.active > a
      border-left-color: #ffbf36
    > .treeview-menu
      margin: 0 0px
      background: #f0f4f6
  .sidebar a
    color: #79818e
    &:hover
      text-decoration: none
  .sidebar-menu .treeview-menu > li
    > a
      color: #79818e
    &.active > a, > a:hover
      color: #ffbf36
  .sidebar-form
    border-radius: 3px
    border: 1px solid #898989
    input[type="text"], .btn
      box-shadow: none
      background-color: rgba(0, 0, 0, 0.59)
      border: 1px solid rgba(0, 0, 0, 0.59)
      height: 35px
    input[type="text"]
      color: #fff
      border-top-left-radius: 2px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 2px
      &:focus
        color: #fff
        + .input-group-btn .btn
          color: #fff
    .btn
      color: #f7f7f7
      border-top-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 0
  &.layout-top-nav .main-header > .logo
    background-color: #e4a827
    color: #ffffff
    border-bottom: 0 solid transparent
    &:hover
      background-color: #ffbf36
  .btn-blue
    background-color: #ffbf36
    color: #fff
    border: 1px solid #ffbf36
    &:hover
      background-color: #fff
      color: #ffbf36

@media (max-width: 767px)
  .skin-yellow-light .main-header .navbar .dropdown-menu li
    &.divider
      background-color: rgba(255, 255, 255, 0.1)
    a
      color: #fff
      &:hover
        background: #e4a827

.horizontal-menu .skin-yellow-light.layout-top-nav .sidebar-menu > li.active > a
  background: #ffbf36
  color: #fff

.skin-yellow-light .main-header
  .messages-menu .dropdown-toggle i::after, .notifications-menu .dropdown-toggle i::after, .tasks-menu .dropdown-toggle i::after
    border-color: #ffbf36