= render 'shared/breadcrumbs', heading: 'Users'
.row
  .col-12
    .box
      .box-header.with-border
        .row
          .col-6
            h3.box-title List of all Users
          .col-6
            = link_to 'New', new_user_path, remote: true, class: 'btn btn-warning btn-lg bg-orange pull-right'
      .box-body
        table.table.table-bordered.table-responsive
          tbody
            tr
              th Email
            = render @users
        = will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)