.login-box
  .login-logo
    a href="#{root_path}"
      b> Green Top
      | Farms
  .login-box-body
    p.login-box-msg Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: 'form-element') do |f|
      .form-group.has-feedback
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'form-control'
        span.ion.ion-email.form-control-feedback
      .row
        .col-12.text-center
          = f.submit "Send me reset password instructions", class: 'btn btn-orange btn-block btn-flat margin-top-10'
/ = render "devise/shared/links"