/! Left side column. contains the logo and sidebar
aside.main-sidebar
  /! sidebar
  section.sidebar
    /! Sidebar user panel
    .user-panel
      .image.float-left
        = image_tag 'logo2.png', class: 'rounded-circle'
      / .info.float-left
        p= current_user.email
        / a href="#"
          i.fa.fa-circle.text-success
          | Online
      /! search form
      form.sidebar-form action="#" method="get"
        .input-group
          input.form-control.hidden name="q" placeholder="Search..." type="text" /
          span.input-group-btn
            button#search-btn.btn.btn-flat name="search" type="submit"
              i.fa.fa-search
    /! /.search form
    /! sidebar menu
    ul.sidebar-menu data-widget="tree"
      li
        a href="#{root_path}"
          i.fa.fa-dashboard
          span Dashboard
      - if current_user.admin?
        li
          a href="#{users_path}"
            i.fa.fa-users
            span Users
      li
        a href="#{order_items_path}"
          i.fa.fa-table
          span Orders by Product
  .sidebar-footer
    = link_to(raw("<i class='fa fa-power-off'></i>"), destroy_user_session_path, method: :delete, class: 'link pull-right right', data: {toggle: "tooltip", "original-title": "Logout"})
