= content_for :breadcrumbs do
  section.content-header
    h1
      = heading
      / small Control panel
    ol.breadcrumb
      li.breadcrumb-item
        a href="#{root_path}"
          i.fa.fa-dashboard
          | Home
      li.breadcrumb-item.active= heading