head
  meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  title 
    | Green top Farms
  = favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon"
  = csrf_meta_tags
  = csp_meta_tag
  = render 'shared/stylesheets'
