body
  header.main-header
    /! Logo
    a.logo href="#{root_path}"
      /! mini logo for sidebar mini 50x50 pixels
      span.logo-mini
        = image_tag('logo2.png')
      span.logo-lg
        b> Green Top
        | Farms
    /! Header Navbar
    nav.navbar.navbar-static-top
      /! Sidebar toggle button
      a.sidebar-toggle data-toggle="push-menu" href="#" role="button"
        span.sr-only Toggle navigation
      .navbar-custom-menu
        ul.nav.navbar-nav
          /! User Account
          li.dropdown.user.user-menu
            a.dropdown-toggle data-toggle="dropdown" href="#"
              = image_tag('logo2.png', class: 'user-image rounded-circle')
            ul.dropdown-menu.scale-up
              /! User image
              li.user-header
                = image_tag('logo2.png', class: 'float-left rounded-circle')
                p
                  = current_user.email
                  small.mb-5= current_user.email
                  a.btn.btn-danger.btn-sm href="#"  View Profile
              /! Menu Body
              / li.user-body
                .row.no-gutters
                  .col-12.text-left
                    a href="#"
                      i.ion.ion-person
                      | My Profile
                  .col-12.text-left
                    a href="#"
                      i.ion.ion-email-unread
                      | Inbox
                  .col-12.text-left
                    a href="#"
                      i.ion.ion-settings
                      | Setting
              /! /.row
              /! Menu Footer
              .user-footer
                .pull-right
                  = link_to(raw("<i class='ion ion-power'>Log Out</i>"), destroy_user_session_path, method: :delete, class: 'btn btn-block btn-danger', data: {toggle: "tooltip", "original-title": "Logout"})
          /! Messages
          / li.dropdown.messages-menu
            a.dropdown-toggle data-toggle="dropdown" href="#"
              i.fa.fa-envelope
            ul.dropdown-menu.scale-up
              li.header You have 5 messages
              li
                /! inner menu: contains the actual data
                ul.menu.inner-content-div
                  li
                    /! start message
                    a href="#"
                      .pull-left
                        = image_tag('user3-128x128.jpg', class: 'rounded-circle')
                      .mail-contnet
                        h4
                          | Lorem Ipsum
                          small
                            i.fa.fa-clock-o
                            | 15 mins
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  /! end message
                  li
                    a href="#"
                      .pull-left
                        = image_tag('user3-128x128.jpg', class: 'rounded-circle')
                      .mail-contnet
                        h4
                          | Nullam tempor
                          small
                            i.fa.fa-clock-o
                            | 4 hours
                        span Curabitur facilisis erat quis metus congue viverra.
                  li
                    a href="#"
                      .pull-left
                        = image_tag('user3-128x128.jpg', class: 'rounded-circle')
                      .mail-contnet
                        h4
                          | Proin venenatis
                          small
                            i.fa.fa-clock-o
                            | Today
                        span Vestibulum nec ligula nec quam sodales rutrum sed luctus.
                  li
                    a href="#"
                      .pull-left
                        = image_tag('user3-128x128.jpg', class: 'rounded-circle')
                      .mail-contnet
                        h4
                          | Praesent suscipit
                          small
                            i.fa.fa-clock-o
                            | Yesterday
                        span Curabitur quis risus aliquet, luctus arcu nec, venenatis neque.
                  li
                    a href="#"
                      .pull-left
                        = image_tag('user3-128x128.jpg', class: 'rounded-circle')
                      .mail-contnet
                        h4
                          | Donec tempor
                          small
                            i.fa.fa-clock-o
                            | 2 days
                        span Praesent vitae tellus eget nibh lacinia pretium.
              li.footer
                a href="#"  See all e-Mails
          /! Notifications
          / li.dropdown.notifications-menu
            a.dropdown-toggle data-toggle="dropdown" href="#"
              i.fa.fa-bell
            ul.dropdown-menu.scale-up
              li.header You have 7 notifications
              li
                /! inner menu: contains the actual data
                ul.menu.inner-content-div
                  li
                    a href="#"
                      i.fa.fa-users.text-aqua
                      | Curabitur id eros quis nunc suscipit blandit.
                  li
                    a href="#"
                      i.fa.fa-warning.text-yellow
                      | Duis malesuada justo eu sapien elementum, in semper diam posuere.
                  li
                    a href="#"
                      i.fa.fa-users.text-red
                      | Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                  li
                    a href="#"
                      i.fa.fa-shopping-cart.text-green
                      | In gravida mauris et nisi
                  li
                    a href="#"
                      i.fa.fa-user.text-red
                      | Praesent eu lacus in libero dictum fermentum.
                  li
                    a href="#"
                      i.fa.fa-user.text-red
                      | Nunc fringilla lorem
                  li
                    a href="#"
                      i.fa.fa-user.text-red
                      | Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
              li.footer
                a href="#"  View all
          /! Tasks
          / li.dropdown.tasks-menu
            a.dropdown-toggle data-toggle="dropdown" href="#"
              i.fa.fa-flag
            ul.dropdown-menu.scale-up
              li.header You have 6 tasks
              li
                /! inner menu: contains the actual data
                ul.menu.inner-content-div
                  li
                    /! Task item
                    a href="#"
                      h3
                        | Lorem ipsum dolor sit amet
                        small.pull-right 30%
                      .progress.xs
                        .progress-bar.progress-bar-aqua aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 30%")
                          span.sr-only 30% Complete
                  /! end task item
                  li
                    /! Task item
                    a href="#"
                      h3
                        | Vestibulum nec ligula
                        small.pull-right 20%
                      .progress.xs
                        .progress-bar.progress-bar-danger aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 20%")
                          span.sr-only 20% Complete
                  /! end task item
                  li
                    /! Task item
                    a href="#"
                      h3
                        | Donec id leo ut ipsum
                        small.pull-right 70%
                      .progress.xs
                        .progress-bar.progress-bar-light-blue aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 70%")
                          span.sr-only 70% Complete
                  /! end task item
                  li
                    /! Task item
                    a href="#"
                      h3
                        | Praesent vitae tellus
                        small.pull-right 40%
                      .progress.xs
                        .progress-bar.progress-bar-yellow aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 40%")
                          span.sr-only 40% Complete
                  /! end task item
                  li
                    /! Task item
                    a href="#"
                      h3
                        | Nam varius sapien
                        small.pull-right 80%
                      .progress.xs
                        .progress-bar.progress-bar-red aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 80%")
                          span.sr-only 80% Complete
                  /! end task item
                  li
                    /! Task item
                    a href="#"
                      h3
                        | Nunc fringilla
                        small.pull-right 90%
                      .progress.xs
                        .progress-bar.progress-bar-primary aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 90%")
                          span.sr-only 90% Complete
              /! end task item
              li.footer
                a href="#"  View all tasks
          /! Control Sidebar Toggle Button
          / li
            a data-toggle="control-sidebar" href="#"
              i.fa.fa-cog.fa-spin
