= render 'shared/breadcrumbs', heading: 'Order Ingredients'
.row
  .col-12
    .box
      .box-header.with-border
        h3.box-title List of all Order Ingredients
      .box-body
        table.table.table-bordered.table-responsive
          tbody
            tr
              th Order
              th Customer Name
              th Ingredient Name
              th Item Name
              th= sort_link @q, :order_item_delivery_date
              th QTY
              th Created At
            - @ingredients.each do |ingredient|
              tr
                td= link_to ingredient.order_item.order.name, ingredient.order_item.order
                td= ingredient.order_item.order.customer_name
                td= link_to ingredient.name, '#'
                td= link_to ingredient.order_item.name, '#'
                td= ingredient.order_item.delivery_date
                td #{ingredient.quantity * ingredient.order_item.quantity } #{ingredient.unit}
                td= ingredient.order_item.order.created_at.strftime('%b %d, %Y %I:%M %P')
      .box-footer.clearfix
        = will_paginate(@ingredients, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)