= render 'shared/breadcrumbs', heading: "Order # #{@order.name}"
.row
  .col-12
    .box.box-widget.widget-user-4
      .widget-user-header
        .overlay
          .widget-user-image
          h3.widget-user-username= @order.customer_name
          / h6.widget-user-desc= @order.note
      .box-footer
        .row
          .col-4.border-right
            .description-block
              h5.description-header Created At
              span.description-text= @order.created_at.strftime('%b %d, %Y %I:%M %P')
          .col-4.border-right
            .description-block
              h5.description-header Contact Email
              span.description-text= @order.contact_email
          .col-4
            .description-block
              h5.description-header Phone
              span.description-text= @order.phone

        .row.margin-top-10
          .col-4.border-right
            .description-block
              h5.description-header No. of Order Items
              span.description-text= @order.order_items.count
          .col-4.border-right
            .description-block
              h5.description-header Notes
              span.description-text= @order.note
          .col-4
            .description-block
              h5.description-header Total Price
              span.description-text= number_to_currency @order.price
.row
  .col-12
    .box
      .box-header.with-border
        h3.box-title List of Packages
      .box-body
        table.table.table-bordered.table-responsive
          tbody
            tr
              th Package Name
              th QTY
              th Delivery Date
              th Delivery Time
              th Price
              th Action
            - @order.order_items.each do |order_item|
              tr
                td= link_to order_item.name, order_item
                td= order_item.quantity
                td= order_item.delivery_date
                td= order_item.start_time.strftime("%I:%M%p").to_s + "-" + order_item.end_time.strftime("%I:%M%p").to_s rescue ""
                td= number_to_currency order_item.price
                td
                  = link_to order_item_print_path(order_item), class: 'btn btn-blue margin-right-10', method: :post, remote: true do
                    span
                      i.fa.fa-print
                      |  Print Kitchen Recipt
                  = link_to order_item_print_sticker_path(order_item), class: 'btn btn-blue', method: :post, remote: true do
                    span
                      i.fa.fa-print
                      |  Print Sticker