#myModal.modal.fade role="dialog"
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close data-dismiss="modal" type="button"  &times;
        h4.modal-title Create New User
      = simple_form_for user do |f|
        .modal-body
          = f.input :email, class: 'form-control required', placeholder: 'Enter email'
          = f.input :password, class: 'form-control required', placeholder: 'Enter Password'
        .modal-footer
          button.btn.btn-lg.pull-left data-dismiss="modal" type="button"  Close
          = f.button :submit, class: 'btn btn-warning btn-lg bg-orange'