.login-box
  .login-logo
    a href="#{root_path}"
      b> Green Top
      | Farms
  .login-box-body
    p.login-box-msg Sign in to start your session
    = form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-element') do |f|
      .form-group.has-feedback
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'form-control'
        span.ion.ion-email.form-control-feedback
      .form-group.has-feedback
        = f.password_field :password, autocomplete: "current-password",  class: 'form-control', placeholder: "Password"
        span.ion.ion-locked.form-control-feedback
      .row
        .col-6
          .checkbox
            = f.check_box :remember_me, id: 'basic_checkbox_1'
            label for="basic_checkbox_1"  Remember Me
        .col-6
          .fog-pwd
            a href="#{new_password_path(resource_name)}"
              i.ion.ion-locked
              | Forgot pwd?
            br/
        .col-12.text-center
          = f.submit "SIGN IN", class: 'btn btn-orange btn-block btn-flat margin-top-10'