= javascript_include_tag 'dymo3'
= javascript_include_tag 'dynmo_print'
= render 'shared/breadcrumbs', heading: 'Package'
= render 'order_items/partials/search', search: @q
.row
  .col-12
    .box
      .box-header.with-border
        .row
          .col-6
            h3.box-title List of all Packages
          .col-6
            = button_tag "Print Kitchen Recipts", data: { disable_with: "Printing..." }, class: 'btn btn-warning btn-lg bg-orange pull-right', id: 'btn-print-kitchen', style: 'margin-left: 10px;'
            = button_tag "Print Stickers", data: { disable_with: "Printing..." }, class: 'btn btn-warning btn-lg bg-orange pull-right', id: 'btn-print-stickers'
      .box-body
        table.table.table-bordered.table-responsive
          tbody
            tr
              td
              th Order
              th Company
              th Package
              th= sort_link @q, :delivery_date
              th Delivery time
              th QTY
              th Price
              th Action
            = form_tag multiple_prints_order_items_path, id: 'multiple-print-form',  method: :post, remote: true
            = hidden_field_tag :print_type, ''
            - @order_items.nil?
              tr
                td No record Found.
            - @order_items.each do |order_item|
              tr
                td
                  .checkbox
                    input name="order_item_ids[]" type="checkbox" value="#{order_item.id}" id="#{dom_id(order_item)}"
                    label for= "#{dom_id(order_item)}"
                td= link_to order_item.order.name, order_item.order
                td= order_item.order.decorate.company_name
                td= link_to order_item.name, order_item
                td= order_item.formated_delivrey_date
                td= order_item.formated_delivery_time
                td= order_item.quantity
                td= number_to_currency order_item.price
                td
                  = link_to order_item_print_sticker_path(order_item), class: 'btn btn-blue pull-right', method: :post, remote: true do
                    span
                      i.fa.fa-print
                      |  Print Sticker
      .box-footer.clearfix
        = will_paginate(@order_items, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)

