| $( "#hidden_remote_container" ).empty();
- if params[:print_type] == "kitchen"
    - @order_items.each do |order_item|
        | $("#hidden_remote_container").append("#{escape_javascript(render 'order_items/partials/invoice', order_item: order_item.decorate, order: order_item.order.decorate)}");
    | doPrint("#hidden_remote_container");