| $("#hidden_remote_container").html("#{escape_javascript(render 'order_items/partials/sticker', order_item: @order_item.decorate, order: @order_item.order.decorate)}");
|  doPrint(".print-sticker-recipt");