= render 'shared/breadcrumbs', heading: "Package:  #{@order_item.name}"
/ .row.no-print
  .col-12
    button#print-sticker.btn.btn-blue.pull-right type="button"
      span
        i.fa.fa-print
        |  Print Sticker
  .col-12.margin-top-10
    = render 'order_items/partials/sticker', order: @order, order_item: @order_item
.row.no-print
  .col-12
    button#print.btn.btn-blue.pull-right type="button"
      span
        i.fa.fa-print
        |  Print Kitchen Receipt
  .col-12
    = render 'order_items/partials/invoice', order: @order, order_item: @order_item