.pagination
  float: right
  .active
    .page-link
      color: #fff
      border: 1px solid #ff6028
      background-color: #ff6028
.pull-right
  float: right !important
.pull-left
  float: left !important

@media print
  .printableArea
    page-break-before: always
  .printableArea
    td
      padding: 3px !important
      font-size: 12px !important 
