= render 'shared/breadcrumbs', heading: 'Welcome To Green Top Farm Dashboard'
/! Main content
.row
  .col-xl-4.col-md-4.col
    .info-box
      span.info-box-icon.bg-orange
        i.ion.ion-person-stalker
      .info-box-content
        span.info-box-number.text-muted= User.count
        span.info-box-text.text-muted Total Users
  .col-xl-4.col-md-4.col
    .info-box
      span.info-box-icon.bg-orange
        i.ion.ion-android-more-horizontal
      .info-box-content
        span.info-box-number.text-muted= Order.count
        span.info-box-text.text-muted Total Orders
  .col-xl-4.col-md-4.col
    .info-box
      span.info-box-icon.bg-orange
        i.ion.ion-android-notifications
      .info-box-content
        span.info-box-number.text-muted= OrderItem.where('delivery_date < ?', Date.today ).count
        span.info-box-text.text-muted Pendind Orders
.row
  .col-md-12.col-lg-12
    .box
      .box-header.with-border
        h3.box-title List of Ingredients used in a given date range
      .box-body
        .row
          .col-12
            = form_for(:search, url: root_path, method: :get) do |f|
              .row
                .col-12
                  .form-group
                    .input-group
                      .input-group-addon
                        i.fa.fa-calendar
                      = f.text_field :delivery_date,  class: 'form-control', value: @search_delivery_date
              .col-12
                = f.submit "Search", class: 'btn btn-success pull-right'
        hr
        table.table.table-bordered.table-responsive
          tbody
            tr
              td #
              td Item
              th QTY
            - @ingredients.nil?
              tr
                td No record Found.
            - @ingredients.each_with_index do |ingredient, index|
              tr
                td= index + 1
                td= ingredient.ingredient_name
                td= "#{ingredient.ingredient_quantity} #{ingredient.ingredient_unit}"