doctype html
html
  = render 'shared/head'
  = render 'shared/scripts'
  body.hold-transition.skin-orange-light.sidebar-mini
    .wrapper
      = render 'shared/header'
      = render 'shared/aside'
      .content-wrapper
        = yield :breadcrumbs
        section.content
          = yield
      = render 'shared/footer'
    .remote_container
    .hide
      #hidden_remote_container